<%include ../partials/header.ejs%>
<div class="row">
  <%if(ejsCampground){%>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">Image 1</li>
      <li class="list-group-item">Image 2</li>
      <li class="list-group-item">Image 3</li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="card">
      <figure class="figure">
        <img
          class="figure-img img-fluid rounded"
          title="<%=ejsCampground.name%>"
          src="<%=ejsCampground.url%>"
          alt="<%=ejsCampground.name%>"
        />
        <figcaption class="figure-caption d-flex">
          <div class="mr-auto"><%=ejsCampground.name %></div>
          <div class="ml-auto font-italic">Submitted by:&nbsp</div>
          <strong> <%=ejsCampground.author.username %></strong>-
          <div class="mr-1 font-italic">Date Created</div>
        </figcaption>
        <div class="d-flex my-2">
          <div class="ml-auto">
            <a
              href="/campgrounds/<%=ejsCampground.id%>/edit"
              class="btn btn-sm btn-outline-info"
              >Edit</a
            >
          </div>
          <div class="mr-3 ml-1">
            <form
              action="/campgrounds/<%=ejsCampground.id%>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-sm btn-outline-danger">Delete</button>
            </form>
          </div>
        </div>
      </figure>
      <div class="card-body">
        <div class="d-flex">
          <div class="mr-auto"><h5 class="card-title">Description</h5></div>
          <div class="ml-auto">
            <a
              href="/campgrounds/<%=ejsCampground.id%>/comments/new"
              class="btn btn-outline-success btn-sm"
              >Leave Review</a
            >
          </div>
        </div>
        <p class="card-text"><%= ejsCampground.desc %></p>
      </div>
    </div>
    <ul class="list-group">
      <%if(ejsCampground.comments && ejsCampground.comments.length > 0){%>
      <%ejsCampground.comments.forEach(ejsComment => {%>
      <li class="list-group-item d-flex">
        <div class="mr-auto"><%=ejsComment.text %></div>
        <div class="font-weight-bold font-italic small ml-auto">
          <%=ejsComment.author.username%>
        </div>
        <small class="font-italic">- Date</small>
        <div class="mx-2 small">
          <a
            href="/campgrounds/<%=ejsCampground.id%>/comments/<%=ejsComment.id%>/edit"
            class="btn btn-sm btn-outline-secondary"
            >Edit</a
          >
        </div>
        <div>
          <form
            action="/campgrounds/<%=ejsCampground.id%>/comments/<%=ejsComment.id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-outline-danger">Delete</button>
          </form>
        </div>
      </li>
      <%})}else{%>
      <li class="list-group-item">Be the first to review the campground</li>
      <%}%>
    </ul>
  </div>
  <%}else{%>
  <h1>Campground Not Found</h1>
  <%}%>
</div>
<%include ../partials/footer.ejs%>
